

<div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid ">
    <app-customer-float-data></app-customer-float-data>
    <form [formGroup]="OrderInfo" (ngSubmit)="onSubmit()">
        <div class="kt-portlet kt-portlet--responsive-mobile">
            <div class="kt-portlet__head bg-light">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Edit Order
                    </h3>
                </div>
            </div>
            <div class="ml-1 text-black-50 kt-font-lg col-md-12 row ">
                <div class="col-md-6 p-1 bg-primary row">
                    <label class="kt-font-boldest">Credit Limit : </label>
                   
                        {{ this.CreditLimit}}
                    
                </div>
                <div class="col-md-6 p-1 bg-danger row">
                    <label class="kt-font-boldest"> Available Credit Limit : </label>
               
                    {{ this.AvailableCreditLimit}}
               
                </div>
               
            </div>
            <div class="kt-portlet__body">
                <div class="kt-form">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="kt-section p-3">

                                <div class="kt-section__body">
                                    <div>
                                        <div class="form-group row">
                                            <label class="col-md-3 kt-font-boldest">Order No</label>
                                            <div class="col-md-3">
                                                {{this.OrderInfo.OrderNovtxt}}
                                            </div>
                                            <label class="col-md-3 kt-font-boldest">Order Date</label>
                                            <div class="col-md-3">
                                                {{this.OrderInfo.OrderDatedate | date :'dd/MM/yyyy'}}
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group row">
                                            <label class="col-md-3 kt-font-boldest">PO No</label>
                                            <div class="col-md-3">
                                                <input type="text" (change)="updatePono($event.target.value)"
                                                    value="{{Pono}}">
                                            </div>
                                            <label class="col-md-3 kt-font-boldest">PO Date</label>
                                            <div class="col-md-3">
                                                <!-- <mat-form-field appearance="fill">
                                                    <mat-label>Choose a date</mat-label>
                                                 
                                                    <input matInput [matDatepicker]="picker" (change)="updatePoDate($event.target.value)"
                                                    value="PoDate  | date :'dd/MM/yyyy'">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                  
                                                  </mat-form-field> -->
                                                <input type="text" (change)="updatePoDate($event.target.value)"
                                                    value="{{PoDate  | date :'dd/MM/yyyy'}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group row">
                                            <label class="col-md-3 kt-font-boldest">Ship to Name *</label>
                                            <div class="col-md-3">
                                                <select  (change)="getShipToNameData($event.target.value)" [(ngModel)]="this.ShipToCode" (input)="onInput($event)">
                                                    <option *ngFor="let ShiptoAddress of ShiptoAddresss" value= {{ShiptoAddress.ShipToCodevtxt}}> {{ShiptoAddress.ShipToNamevtxt}}</option>
                                                  </select>

                                                <!-- <select (change)="getShipToNameData($event.target.value)">
                                                    <option value="0">--All--</option>
                                                    <option *ngFor="let ShiptoAddress of ShiptoAddresss"
                                                        value={{ShiptoAddress.ShipToCodevtxt}}>
                                                        {{ShiptoAddress.ShipToNamevtxt}}
                                                    </option>
                                                </select> -->
                                            </div>
                                            <label class="col-md-3 kt-font-boldest">Selected Ship to Name</label>
                                            <div class="col-md-3">
                                                {{this.ShipToName}}

                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 kt-font-boldest">Ship to Address</label>
                                            <div class="col-md-6">
                                                {{this.ShipToAddress}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 kt-font-boldest">Select Item</label>
                                        <div class="col-md-5">
                                            <select (change)="ChangeItemCodeForNewItem($event.target.value)">
                                                <option value="0">--All--</option>
                                                <option *ngFor="let Item of AllItemMasterData"
                                                    value={{Item.ItemCodevtxt}}>
                                                    {{Item.ItemCodevtxt}} - {{Item.ItemDescvtxt}}
                                                </option>
                                            </select>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <a (click)="AddDataInItemMaster()" Class="btn btn-brand btn-sm">Save To List</a>

                        </div>
                    </div>
                </div>
                <div class="border mt-3">

                    <!--begin::Portlet-->
                    <div class="kt-portlet mb-0">
                        <div class="kt-portlet__head bg-light">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title text-dark">Item List
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--fit">
                            <!--begin::Section-->
                            <div class="kt-section mb-0">
                                <div class="kt-section__content p-2">
                                    <table class="" style="width:100%;">
                                        <thead style="vertical-align:bottom">
                                            <tr>
                                                <th>
                                                </th>
                                                <th class=" mr-3">
                                                    Item
                                                </th>
                                                <!-- <th class=" mr-3">ItemDesc
                                                </th> -->
                                                <th class=" mr-3">UOM
                                                </th>
                                                <!-- <th class=" mr-3">Rate
                                                </th> -->
                                                <th class=" mr-3">
                                                    Quantity *
                                                </th>
                                                <th class=" mr-3">
                                                    Quantity in Kgs
                                                </th>
                                                <th class=" mr-3">
                                                    Quantity in MT
                                                </th>
                                                <!-- <th class=" mr-3">
                                                    Amount
                                                </th> -->
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let Item of ItemMaster; let i = index">
                                                <td>
                                                    <span [hidden]="Item.Idint">{{Item.Idint}}</span>
                                                </td>
                                                <td class=" mr-3">
                                                    <span>{{Item.MaterialCodevtxt}}</span>
                                                </td>
                                                <!-- <td class=" mr-3"><span>{{Item.MaterialDescriptionvtxt}}</span>
                                                </td> -->
                                                <td class=" mr-3">  
                                                    <!-- <span>{{Item.UoMvtxt}}</span> -->
                                                    <!-- <select  (change)="updateUOM($event.target.value,Item)" [(ngModel)]="Item.UoMint" (input)="onInput($event)">
                                                        <option *ngFor="let UOM of UOMs" value= {{UOM.IDint}}>{{UOM.AlternativeUnit}}</option>
 <option [value]="Item.UoMint">{{Item.UoMvtxt}}</option>
                                                        <option *ngFor="let UOM of UOMs" [value]="UOM.IDint">{{UOM.AlternativeUnit}}</option>

                                                      </select> -->
                                                    <!-- <select   (change)="updateUOM($event.target.value,Item)" >
                                                        <option *ngFor="let UOM of UOMs"  [value]="UOM.IDint" [selected]="UOM.IDint ==Item.UoMint ? true: null">{{UOM.AlternativeUnit}}</option>
                                                      </select> -->
                                                      <select class="form-control" name="Item.UoMint"  [(ngModel)]="Item.UoMint" (ngModelChange)="updateUOM($event.target.value,Item)">
                                                        <option *ngFor="let UOM of UOMs" [ngValue]="UOM.IDint" >
                                                            {{UOM.AlternativeUnit}}
                                                        </option>
                                                    </select>
                                                </td>
                                                <!-- <td class=" mr-3"><span>{{Item.Ratedcl}}</span>
                                                </td> -->
                                                <td class=" mr-3">

                                                    <mat-form-field>
                                                        <input type="number" onlyNumber matInput
                                                            (change)="updateTotalUOM(Item,$event.target.value,Item.Ratedcl)"
                                                            value="{{Item.Quantityint}}">
                                                    </mat-form-field>
                                                </td>
                                                <td class=" mr-3">
                                                    {{Item.QtyKg }}
                                                </td>
                                                <td class=" mr-3">
                                                   {{Item.QtyMt }}
                                               </td>
                                                <!-- <td class=" mr-3">
                                                    {{Item.Amountdcl }}
                                                </td> -->

                                                <!-- <td>
                                                    <div class="btnactions">
                                                        <button class="btn btn-warning" (click)="onDeleteClick( i)"><i
                                                                class="fa flaticon-delete"></i></button>
                                                    </div>

                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 kt-font-boldest">Total Order Quantity</label>
                                <div class="col-md-2">
                                    {{this.TotalQuantity}}
                                </div>
                                <label class="col-md-2 kt-font-boldest">Total Order Amount</label>
                                <div class="col-md-2">
                                    {{this.TotalAmount}}
                                </div>
                                <label class="col-md-2 kt-font-boldest">Other Charges</label>
                                <div class="col-md-2">
                                    <input type="text" (change)="updateothercharges($event.target.value)"
                                        value="{{othercharges}}">
                                </div>
                            </div>
                            <!--end::Section-->
                        </div>
                        <!--end::Form-->
                    </div>
                </div>
            </div>

            <div class="kt-portlet__foot kt-portlet__foot--sm bg-light">
                <div class="kt-form__actions">
                    <div class="row">
                        <div class="col">
                            <a type="Submit" (click)="onSubmit('Pending')" Class="btn mr-3 btn-brand btn-sm">Submit</a>
                            <a type="Submit" (click)="onSubmit('Draft')" Class="btn mr-3  btn-brand btn-sm">Save in
                                Drafts</a>
                            <a (click)="Back()" Class="btn mr-3  btn-brand btn-sm">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>