<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid mt-4">
	<div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
		<!--begin::Portlet-->

		<div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--break-sm bg-light">
			<div class="kt-portlet__head-label">
				<h3 class="kt-portlet__head-title">Invoice Info
				</h3>
			</div>
		</div>

		<div class="kt-portlet__body">
			<div class="table-responsive">
				<table class="text-dark col-md-12">

					<tbody>
						<tr class="mt-4">
							<th scope="row">Sold To Party : </th>
							<td>{{this.InvoiceInfo.SoldToPartyCodevtxt}} - {{this.InvoiceInfo.SoldTopPartyNamevtxt}}
							</td>
							<th scope="row"> Ship To Party :</th>
							<td>{{this.InvoiceInfo.ShipToPartyCodevtxt}} - {{this.InvoiceInfo.ShipToPartyNamevtxt}}</td>
						</tr>
						<tr class="mt-4">
							<th scope="row"> Invoice No :</th>
							<td>{{this.InvoiceInfo.InvoiceDocumentNovtxt}}</td>
							<th scope="row">Billing Date : </th>
							<td>{{this.InvoiceInfo.BillingDatedate  | date :'dd/MM/yyyy'}}</td>

						</tr>
						<tr class="mt-4">
							<th scope="row"> Total Quantity : </th>
							<td>{{this.InvoiceInfo.InvoiceQuantityint}}</td>
							<th scope="row">Tax Amount : </th>
							<td>{{this.InvoiceInfo.TaxAmountdcl}}</td>

						</tr>
						<tr class="mt-4">
							<th scope="row">Billing Value : </th>
							<td>{{this.InvoiceInfo.BillingValuedcl}}</td>
							<th scope="row"> Delivery Order No: </th>
							<td>{{this.InvoiceInfo.DeliveryOrder}}</td>

						</tr>
						<tr class="mt-4">
							<th scope="row">Shipping From Address :</th>
							<td>{{this.InvoiceInfo.ShippingFromAddress}}</td>
							<th scope="row"> Delivery To Address : </th>
							<td>{{this.InvoiceInfo.DeliveryToAddress}}</td>
						</tr>
						<tr class="mt-4">
							<th scope="row"> Status : </th>
							<td>{{this.InvoiceInfo.Statusvtxt}}</td>
						</tr>

					</tbody>
				</table>

			</div>
			<h5 class="mt-4">Invoice Detail</h5>
			<div class="table-responsive">
				<div class="kt-portlet__body ">

					<div>
						<div *ngFor="let Invoice of Invoices" class="customerCustomers-list border shadow-sm p-3 mb-3">
							<div class="row col-11">

								<div class="col-md-3 ">

									Material : <span class="kt-font-bold">{{Invoice.MaterialCodevtxt}}</span>

								</div>
								<div class="col-md-3 ">

									UOM : <span class="kt-font-bold">{{Invoice.InvoiceUoMvtxt}}</span>

								</div>
								<div class="col-md-3 ">

									Quantity : <span class="kt-font-bold">{{Invoice.InvoiceQuantityint}}</span>

								</div>
								<div class="col-md-3 ">
									Tax Amount : <span class="kt-font-bold">{{Invoice.TaxAmountdcl}}</span>

								</div>
								<div class="col-md-3 ">
									Billing Value : <span class="kt-font-bold">{{Invoice.BillingValuedcl}}</span>
								</div>
								<!-- <div class="col-md-3 ">

									Quantity in Kgs : <span class="kt-font-bold">{{Invoice.QtyKg}}</span>

								</div>
								<div class="col-md-3 ">

									Quantity in MT : <span class="kt-font-bold">{{Invoice.QtyMt}}</span>

								</div> -->





							</div>
						</div>


					</div>


				</div>
				<button (click)="Back()" class="btn btn-primary">Close</button>
			</div>
		</div>