
<!-- begin:: Page -->

    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
      <div class="kt-header-mobile__logo">
          <img src="../../../assets/media/logos/johnson-logo.png" class="img-fluid" alt="Logo"  >
      </div>
      <div class="kt-header-mobile__toolbar">

          <button type="button" class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
          <!-- <%--<button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>--%> -->
      </div>
  </div>

  <!-- end:: Header Mobile -->
  
              <!-- begin:: Header -->
              <div id="kt_header" class="kt-header kt-grid__item">

                  <div class="   kt-padding-r-25  kt-padding-l-25 d-flex align-items-center  ">
                      <a href="Dashboard.aspx">
                          <img class="img-flui custom-logo" alt="Logo" src="../../../assets/media/logos/johnson-logo.png" >
                      </a>
                  </div>

                  <!-- begin: Header Menu -->
                  <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                  <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                      <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
                          <ul class="kt-menu__nav ">
                              <li class="kt-menu__item" aria-haspopup="false"><a  [routerLink]="['/SuperAdmin/dashboard']"  class="kt-menu__link "><i class="kt-menu__link-icon flaticon-users"></i><span class="kt-menu__link-text">User List</span></a></li>
                              <li class="kt-menu__item" aria-haspopup="false"><a [routerLink]="['/SuperAdmin/profile']" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-profile"></i><span class="kt-menu__link-text">My Profile</span></a></li>
                              <li class="kt-menu__item  " aria-haspopup="false"><a [routerLink]="['/SuperAdmin/AddAdmin']" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-avatar"></i><span class="kt-menu__link-text">Add User</span></a></li>
                              <li class="kt-menu__item " aria-haspopup="true"><a  [routerLink]="['/SuperAdmin/profile']"  class="kt-menu__link" data-toggle="modal"><i class="kt-menu__link-icon la la-key"></i><span class="kt-menu__link-text">Change Password</span></a></li>
                              <!-- <%--<li class="kt-menu__item " aria-haspopup="true"><a href="ChangePassword.aspx" class="kt-menu__link "><i class="kt-menu__link-icon la la-key"></i><span class="kt-menu__link-text">Change Password</span></a></li>--%> -->
                              <!--<li class="kt-menu__item" aria-haspopup="false"><a href="index.html" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-interface-3"></i><span class="kt-menu__link-text">Reports</span></a></li>-->
                              <li class="kt-menu__item" aria-haspopup="false"><a (click)="onLogout()"  class="kt-menu__link "><i class="kt-menu__link-icon flaticon-logout"></i><span class="kt-menu__link-text">Log Out</span></a></li>
                          </ul>
                      </div>
                  </div>
                  <!-- end: Header Menu -->
              </div>