<div class="kt-portlet">
    <div class="kt-portlet__body  kt-portlet__body--fit">

        <div class="row ">
            <div class="row col-md-6 pt-2 pb-2 pl-5 col-lg-4 col-xl-4">
                <b>
                    Customer :

                </b>
                <a class=" pl-2" >
                    {{this.CustomerData.CustCodevtxt}} - {{this.CustomerData.CustNamevtxt}}

                </a>
                       
            </div>
            <div class=" row col-md-6 pt-2 pb-2 pl-5 col-lg-4 col-xl-4">
                    <b>
                        Address :

                    </b>
                    <a class=" pl-2" >
                    {{this.CustomerData.Address1vtxt}} {{this.CustomerData.Address2vtxt}} {{this.CustomerData.CityCdvtxt}}
                      {{this.CustomerData.PostalCodevtxt}}
                </a>
            </div>
            <div class=" row col-md-6 pt-2 pb-2 pl-5 col-lg-4 col-xl-4  ">
                
                <b>
                    Sales Person :
                </b>
                <a class=" pl-2" >
                    {{this.CustomerData.Spcodevtxt }} - {{this.CustomerData.Spnamevtxt }}

                </a>
                       
            </div>
            <div class=" row col-md-6 pt-2 pb-2 pl-5 col-lg-3 col-xl-3">
                
                <b>
                    Sales Org :
                </b>
                <a class=" pl-2" >
                    {{this.CustomerData.SalesOrgNamevtxt }}

                </a>
                       
            </div>
            <div class=" row col-md-6 pt-2 pb-2 pl-5 col-lg-3 col-xl-3">
                
                <b>
                    Contact Person :
                </b>
                <a class=" pl-2" >
                    {{this.CustomerData.Contactpersonvtxt }}

                </a>
                       
            </div>
            <div class=" row col-md-6 pt-2 pb-2 pl-5 col-lg-2 col-xl-2">
                <b>
                    Date :
                </b>
                <a class=" pl-2" >
                    {{datestring  | date :'dd/MM/yyyy' }}

                </a>
    </div>
            
        </div>
    </div>
</div>