

    <!-- begin:: Page -->

    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <img class="img-fluid" alt="Logo"  id="logo" >
        </div>
        <div class="kt-header-mobile__toolbar">

            <button type="button" class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
            <%--<button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>--%>
        </div>
    </div>

    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root ">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper  pl-0" id="kt_wrapper">

                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header kt-grid__item">

                    <div class="   kt-padding-r-25  kt-padding-l-25 d-flex align-items-center  ">
                        <a href="Dashboard.aspx">
                            <img class="img-fluid custom-logo" alt="Logo"  id="logo1" >
                        </a>
                    </div>

                    <!-- begin: Header Menu -->
                    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
                            <ul class="kt-menu__nav ">
                                <li class="kt-menu__item" aria-haspopup="false"><a href="Dashboard.aspx" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-users"></i><span class="kt-menu__link-text">User List</span></a></li>
                                <li class="kt-menu__item" aria-haspopup="false"><a href="Profile.aspx" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-profile"></i><span class="kt-menu__link-text">My Profile</span></a></li>
                                <li class="kt-menu__item  " aria-haspopup="false"><a href="Add_Admin.aspx" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-avatar"></i><span class="kt-menu__link-text">Add User</span></a></li>
                                <li class="kt-menu__item " aria-haspopup="true"><a href="#password_modal" class="kt-menu__link" data-toggle="modal"><i class="kt-menu__link-icon la la-key"></i><span class="kt-menu__link-text">Change Password</span></a></li>
                                <%--<li class="kt-menu__item " aria-haspopup="true"><a href="ChangePassword.aspx" class="kt-menu__link "><i class="kt-menu__link-icon la la-key"></i><span class="kt-menu__link-text">Change Password</span></a></li>--%>
                                <!--<li class="kt-menu__item" aria-haspopup="false"><a href="index.html" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-interface-3"></i><span class="kt-menu__link-text">Reports</span></a></li>-->
                                <li class="kt-menu__item" aria-haspopup="false"><a href="~/Login.aspx"  class="kt-menu__link "><i class="kt-menu__link-icon flaticon-logout"></i><span class="kt-menu__link-text">Log Out</span></a></li>
                            </ul>
                            <!-- begin: Custom User-->
                            <div class="kt-custom-user">
                                <div class="kt-header-custom-user">
                                    <span class="kt-header__topbar-welcome kt-hidden-mobile">Hi,</span>
                                    <span class="kt-header__topbar-username">Super Admin</span>
                                    <img alt="Pic" class="kt-radius-100"  src="assets/media/users/300_25.jpg" />

                                    <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->

                                    <!--<span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">S</span>-->
                                </div>
                            </div>
                            <!-- end: Custom User-->
                        </div>
                    </div>
                    <!-- end: Header Menu -->
                </div>

                <!-- end:: Header -->
                <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                   
                </div>

                <!-- begin:: Footer -->
                <!-- <div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer" style="left: 0;">
                    <div class="kt-container  kt-container--fluid ">
                        <div class="kt-footer__copyright">
                            2019&nbsp;&copy;&nbsp;<a class="kt-link">Prism Johnson Limited</a>
                        </div>
                        <div class="kt-footer__menu">
                        </div>
                    </div>
                </div> -->

                <!-- end:: Footer -->
            </div>
        </div>
    </div>

    <!-- end:: Page -->

   
