<div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
    <div id="kt_aside_menu" class="kt-aside-menu" data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
        <ul class="kt-menu__nav ">
            <li class="kt-menu__item" [routerLinkActive]="['kt-menu__item--active']"><a [routerLink]="['/Customer/dashboard']" class="kt-menu__link "><i class="kt-menu__link-icon fa fa-chart-area"></i><span class="kt-menu__link-text">Home</span></a></li>
            <li class="kt-menu__item kt-menu__item--submenu kt-menu__item--rel" [routerLinkActive]="['kt-menu__item--active']"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon fa fa-user"></i><span class="kt-menu__link-text">User Management</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left" kt-hidden-height="80">
                    <ul class="kt-menu__subnav">
                        <li class="kt-menu__item " [routerLinkActive]="['kt-menu__item--active']"><a [routerLink]="['/Customer/UserList']" class="kt-menu__link "><i class="kt-menu__link-icon "></i><span class="kt-menu__link-text">User List</span></a></li>
                        <li class="kt-menu__item " [routerLinkActive]="['kt-menu__item--active']"><a [routerLink]="['/Customer/UploadUser']" class="kt-menu__link "><i class="kt-menu__link-icon"></i><span class="kt-menu__link-text">Create user</span></a></li>
                    </ul>
                </div>
            </li>
            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" [routerLinkActive]="['kt-menu__item--active']"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon fa fa-box-open"></i><span class="kt-menu__link-text">Order Management</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                    <ul class="kt-menu__subnav">
                        <li class="kt-menu__item " [routerLinkActive]="['kt-menu__item--active']"><a [routerLink]="['/Customer/OrderList']" class="kt-menu__link "><i class="kt-menu__link-icon"></i><span class="kt-menu__link-text">Order List</span></a></li>
                        <li class="kt-menu__item " [routerLinkActive]="['kt-menu__item--active']"><a [routerLink]="['/Customer/CreateOrderRequest']" class="kt-menu__link "><i class=" fa kt-menu__link-icon"><span></span></i><span class="kt-menu__link-text">Place Order Request</span></a></li>
                        <li class="kt-menu__item " [routerLinkActive]="['kt-menu__item--active']"><a [routerLink]="['/Customer/SalesOrderDetail']" class="kt-menu__link "><i class="kt-menu__link-icon"></i><span class="kt-menu__link-text">Sales
                            Order</span></a></li>
                    </ul>
                </div>
            </li>
            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" [routerLinkActive]="['kt-menu__item--active']"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon fa fa-dolly"></i><span class="kt-menu__link-text">Dispatches</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                    <ul class="kt-menu__subnav">
                        <li class="kt-menu__item" [routerLinkActive]="['kt-menu__item--active']"><a [routerLink]="['/Customer/DispatchOrderDetail']" class="kt-menu__link "><i class="kt-menu__link-icon"></i><span class="kt-menu__link-text">List of Delivery Doc</span></a></li>
                    </ul>
                </div>
            </li>
            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" [routerLinkActive]="['kt-menu__item--active']"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon fa fa-clipboard-list"></i><span class="kt-menu__link-text">Invoices</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                    <ul class="kt-menu__subnav">
                        <li class="kt-menu__item " [routerLinkActive]="['kt-menu__item--active']"><a [routerLink]="['/Customer/InvoiceDetail']" class="kt-menu__link "><i class="kt-menu__link-icon "></i><span class="kt-menu__link-text">My Invoices</span></a></li>
                    </ul>
                </div>
            </li>
            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" [routerLinkActive]="['kt-menu__item--active']"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon fa fa-layer-group"></i><span class="kt-menu__link-text">Accounts Management</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                    <ul class="kt-menu__subnav">
                        <li class="kt-menu__item" [routerLinkActive]="['kt-menu__item--active']"><a [routerLink]="['/Customer/CurrentLedger']" class="kt-menu__link "><i class="kt-menu__link-icon"></i><span class="kt-menu__link-text">Current Ledger</span></a></li>
                        <li class="kt-menu__item" [routerLinkActive]="['kt-menu__item--active']"><a [routerLink]="['/Customer/History']" class="kt-menu__link "><i class="kt-menu__link-icon"></i><span class="kt-menu__link-text">History</span></a></li>
                        <li class="kt-menu__item" [routerLinkActive]="['kt-menu__item--active']"><a [routerLink]="['/Customer/PaymentOutstanding']" class="kt-menu__link "><i class="kt-menu__link-icon"></i><span class="kt-menu__link-text">Pending Payments</span></a></li>
                    </ul>
                </div>
            </li>
            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" [routerLinkActive]="['kt-menu__item--active']"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon fa fa-database"></i><span class="kt-menu__link-text">Stock Management</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                    <ul class="kt-menu__subnav">
                        <li class="kt-menu__item " [routerLinkActive]="['kt-menu__item--active']"><a [routerLink]="['/Customer/Stock']" class="kt-menu__link "><i class="kt-menu__link-icon"></i><span class="kt-menu__link-text">My Stocks</span></a></li>
                        <li class="kt-menu__item " [routerLinkActive]="['kt-menu__item--active']"><a [routerLink]="['/Customer/CompanyStocks']" class="kt-menu__link "><i class="kt-menu__link-icon "></i><span class="kt-menu__link-text">Company Stocks</span></a></li>
                    </ul>
                </div>
            </li>
            <li class="kt-menu__item  "><a [routerLink]="['/Customer/RetailOrder']" class="kt-menu__link "><i class="kt-menu__link-icon fa fa-money-bill"></i><span class="kt-menu__link-text">Retail Order</span></a></li>
            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" [routerLinkActive]="['kt-menu__item--active']"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon fa fa-ticket-alt"></i><span class="kt-menu__link-text">Feedback</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                    <ul class="kt-menu__subnav">
                        <li class="kt-menu__item " [routerLinkActive]="['kt-menu__item--active']"><a [routerLink]="['/Customer/RaiseComplaint']" class="kt-menu__link "><i class="kt-menu__link-icon "></i><span class="kt-menu__link-text">Raise Complaint</span></a></li>
                        <li class="kt-menu__item " [routerLinkActive]="['kt-menu__item--active']"><a [routerLink]="['/Customer/ComplaintStatus']" class="kt-menu__link "><i class="kt-menu__link-icon "></i><span class="kt-menu__link-text">Complaint Status</span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>