<div class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

    <form method="post" action="./" id="form1" class="kt-grid kt-grid--ver kt-grid--root kt-page">
        <div class="aspNetHidden">
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE"
                value="wViN8K4FdRGMAMLZBDXCEWS/SpSw1ytbf0bmAOlQpcZUkF+lfdLU1Bt/BdVCeOdrC6p2fkqCnKL6RzVS8aJlVcJSfj8ZnoMlYhqMeVwGPCE=" />
        </div>
        <div class="aspNetHidden">
            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="C2EE9ABB" />
            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION"/>
        </div>
        <!-- begin:: Page -->

        <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v6 kt-login--signin" id="kt_login">
            <div
                class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
                <div
                    class="kt-grid__item  kt-grid__item--order-tablet-and-mobile-2  kt-grid kt-grid--hor kt-login__aside">
                    <div class="kt-login__wrapper">
                        <div class="kt-login__container">
                            <div class="kt-login__body">
                                <div class="kt-login__logo">
                                    <img src="../../assets/media/johnson-logo.png" />
                                </div>
                                <div class="kt-login__signin">
                                    <div class="kt-login__head">
                                        <h3 class="kt-login__title">Sign In</h3>
                                    </div>
                                    <div class="kt-login__form">
                                        <div class="kt-form">
                                            <div class="form-group">
                                                <input name="LoginEmail" type="text" id="LoginEmail"
                                                    class="form-control" placeholder="Email" name="email"
                                                    autocomplete="off" />
                                            </div>
                                            <div class="form-group">
                                                <input name="LoginPassword" id="LoginPassword"
                                                    class="form-control form-control-last" type="password"
                                                    placeholder="Password" name="password" />
                                            </div>
                                            <div class="kt-login__extra">
                                                <label class="kt-checkbox">
                                                    <input type="checkbox" name="remember" />
                                                    Remember me
                                                    <span></span>
                                                </label>
                                                <a href="javascript:;" id="kt_login_forgot">Forget Password ?</a>
                                            </div>
                                            <div class="kt-login__actions">
                                                <input type="submit" name="Btnsubmit" value="Sign In" id="Btnsubmit"
                                                    class="btn btn-brand btn-pill btn-elevate" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-login__signup">
                                    <div class="kt-login__head">
                                        <h3 class="kt-login__title">Sign Up</h3>
                                        <div class="kt-login__desc">Enter your details to create your account:</div>
                                    </div>
                                    <div class="kt-login__form">
                                        <div class="kt-form">
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="Fullname"
                                                    name="fullname" />
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="Email" name="email"
                                                    autocomplete="off" />
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" type="password" placeholder="Password"
                                                    name="password" />
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control form-control-last" type="password"
                                                    placeholder="Confirm Password" name="rpassword" />
                                            </div>
                                            <div class="kt-login__extra">
                                                <label class="kt-checkbox">
                                                    <input type="checkbox" name="agree" />
                                                    I Agree the <a href="#">terms and conditions</a>.
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="kt-login__actions">
                                                <button id="kt_login_signup_submit"
                                                    class="btn btn-brand btn-pill btn-elevate">Sign Up</button>
                                                <button id="kt_login_signup_cancel"
                                                    class="btn btn-outline-brand btn-pill">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-login__forgot">
                                    <div class="kt-login__head">
                                        <h3 class="kt-login__title">Forgotten Password ?</h3>
                                        <div class="kt-login__desc">Enter your email to reset your password:</div>
                                    </div>
                                    <div class="kt-login__form">
                                        <div class="kt-form">
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="Email" name="email"
                                                    id="kt_email" autocomplete="off" />
                                            </div>
                                            <div class="kt-login__actions">
                                                <button id="kt_login_forgot_submit"
                                                    class="btn btn-brand btn-pill btn-elevate">Request</button>
                                                <button id="kt_login_forgot_cancel"
                                                    class="btn btn-outline-brand btn-pill">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-login__account">
                            <span class="kt-login__account-msg">Don't have an account yet ?
                            </span>

                            <a href="javascript:;" id="kt_login_signup" class="kt-login__account-link">Sign Up!</a>
                        </div>
                    </div>
                </div>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid__item--center kt-grid kt-grid--ver kt-login__content"
                    style="background-image: url(../../assets/media/login-bg.jpg);">
                    <div class="kt-login__section">
                        <div class="kt-login__block">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>