<div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
    <form [formGroup]="HeaderData" (ngSubmit)="onSubmit()">
        <div class="kt-portlet kt-portlet--responsive-mobile">
            <div class="kt-portlet__head bg-light">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Place Order Request
                    </h3>
                </div>
            </div>
            <div class="ml-1 text-black-50 kt-font-lg col-md-12 row ">
                <div class="col-md-6 p-1 bg-primary row">
                    <label class="kt-font-boldest">Credit Limit : </label> {{ this.CreditLimit}}
                </div>
                <div class="col-md-6 p-1 bg-danger row">
                    <label class="kt-font-boldest"> Available Credit Limit : </label> {{ this.AvailableCreditLimit}}
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-form">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="kt-section p-3">
                                <div class="kt-section__body">

                                    <div class=" row">
                                        <label class="col-md-3 kt-font-boldest">Web Order No</label>
                                        <div class="col-md-3">
                                            {{this.OrderInfo.ReqOrderNo}}
                                        </div>
                                        <label class="col-md-3 kt-font-boldest">Web Order Date</label>
                                        <div class="col-md-3">
                                            {{this.OrderInfo.OrderDatedate | date :'dd/MM/yyyy'}}
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <label class="col-md-3 kt-font-boldest">PO No</label>
                                        <div class="col-md-3">
                                            <input type="text" class=" form-control" (change)="updatePono($event.target.value)" value="{{Pono}}">
                                        </div>
                                        <label class="col-md-3 kt-font-boldest">PO Date</label>
                                        <div class="col-md-3">
                                            <input type="text" class=" form-control" (change)="updatePoDate($event.target.value)" value="{{PoDate}}">
                                        </div>
                                    </div>

                                    <div class=" mt-2  row">
                                        <label class="col-md-3 kt-font-boldest">Ship to Name *</label>
                                        <div class="col-md-3">
                                            <select class=" form-control" (change)="getShipToNameData($event.target.value)">
                                                <option value="0">Select Ship To Name</option>
                                                <option *ngFor="let ShiptoAddress of ShiptoAddresss"
                                                    value={{ShiptoAddress.ShipToCodevtxt}}>
                                                    {{ShiptoAddress.ShipToNamevtxt}}
                                                </option>
                                            </select>

                                        </div>
                                        <label class="col-md-3 kt-font-boldest">Ship to Address</label>
                                        <div class="col-md-3">
                                            {{this.Addressvtxt}}
                                        </div>
                                    </div>
                                    <div class=" mt-2  row">

                                        <label class="col-md-3 kt-font-boldest">Delivery Address</label>
                                        <div class="col-md-3">

                                            <input type="text" (change)="updateAddress($event.target.value)" value="{{DeliveryAddress}}">
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="border  col-xl-7 col-lg-9">

                        <!--begin::Portlet-->
                        <div class="kt-portlet mb-0">
                            <div class="kt-portlet__head bg-light">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title text-dark">Item List
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body kt-portlet__body--fit">
                                <!--begin::Section-->
                                <div class="kt-section__content table-responsive">
                                    <!-- <table class="" style="width:100%;"> -->
                                    <table class="">
                                        <thead style="vertical-align:bottom">
                                            <tr>
                                                <th>
                                                </th>
                                                <th style="padding:0 15px 0 15px;">
                                                    Item
                                                </th>
                                                <th style="padding:0 15px 0 15px;">Uom
                                                </th>
                                                <!-- <th  style="padding:0 15px 0 15px;">Rate
                                                </th> -->
                                                <th style="padding:0 15px 0 15px;">
                                                    Quantity *
                                                </th>
                                                <th style="padding:0 15px 0 15px;">
                                                    Quantity in Kgs
                                                </th>
                                                <th style="padding:0 15px 0 15px;">
                                                    Quantity in MT
                                                </th>
                                                <!-- <th  style="padding:0 15px 0 15px;">
                                                    Amount
                                                </th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let Item of ItemMaster; let i = index">
                                                <td>
                                                    <span [hidden]="Item.Idint">{{Item.Idint}}</span>
                                                </td>
                                                <td style="padding:0 15px 0 15px;">
                                                    <span>{{Item.ItemCodevtxt}}</span>
                                                </td>
                                                <td style="padding:0 15px 0 15px;">
                                                    <select  class=" form-control form-control-sm" (change)="updateUOM($event.target.value,Item)">
                                                        <option value="0">Select UOM</option>
                                                        <option *ngFor="let UOM of UOMs" value="{{UOM.IDint}}">
                                                            {{UOM.AlternativeUnit}}
                                                        </option>
                                                    </select>
                                                </td>
                                                <!-- <td  style="padding:0 15px 0 15px;"><span>{{Item.Ratedcl}}</span>
                                                </td> -->

                                                <td style="padding:0 15px 0 15px;">

                                                    <mat-form-field>
                                                        <input type="number" onlyNumber matInput (change)="updateTotalUOM(Item,$event.target.value)" value="{{Item.qty}}">
                                                    </mat-form-field>
                                                </td>
                                                <td style="padding:0 15px 0 15px;">
                                                    {{Item.QtyKg }}
                                                </td>
                                                <td style="padding:0 15px 0 15px;">
                                                    {{Item.QtyMt }}
                                                </td>
                                                <!-- <td  style="padding:0 15px 0 15px;">
                                                    {{Item.Amount }}
                                                </td> -->

                                                <!-- <td>
                                                    <div class="btnactions">
                                                        <button class="btn btn-warning" (click)="onDeleteClick( i)"><i class="fa flaticon-delete"></i></button>
                                                    </div>

                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class=" mt-2 row">
                                <label class="col-md-auto kt-font-boldest">Select Item</label>
                                <div class="col-md-auto">
                                    <select class=" form-control" (change)="ChangeItemCodeForNewItem($event.target.value)">
                                        <option value="0">Select Item</option>
                                        <option *ngFor="let Item of AllItemMasterDate" value={{Item.ItemCodevtxt}}>
                                            {{Item.ItemCodevtxt}} - {{Item.ItemDescvtxt}}
                                        </option>
                                    </select>

                                </div>
                                <a (click)="AddDataInItemMaster()" Class="btn btn-brand btn-sm">Save To List</a>

                            </div>
                            <div class="form-group mt-2  row">
                                <label class="col-md-auto kt-font-boldest">Total Order Quantity</label>
                                <div class="col-md-auto">
                                    {{this.TotalQuantity}}
                                </div>
                                <label class="col-md-auto kt-font-boldest">Total Order Quantity in MT</label>
                                <div class="col-md-auto">
                                    {{this.TotalMT}}
                                </div>
                                <label class="col-md-auto kt-font-boldest">Total Order Quantity in Kgs</label>
                                <div class="col-md-auto">
                                    {{this.TotalKgs}}
                                </div>
                                <!-- <label class="col-md-auto kt-font-boldest">Total Order Amount</label>
                                <div class="col-md-auto">
                                    {{this.TotalAmount}}
                                </div> -->
                                <!-- <label class="col-md-auto kt-font-boldest">Payment Charges</label>
                                <div class="col-md-auto">

                                    <input type="text" (change)="updateothercharges($event.target.value)"
                                        value="{{othercharges}}">
                                </div> -->
                            </div>
                            <!--end::Section-->

                        </div>
                        <!--end::Form-->


                    </div>
                </div>

                <div class="row col-md-12">
                    <div class="mt-3 col-md-auto">
                        <b> Payment Terms :</b> {{CustomerData.PaymentTerms1vtxt}}
                    </div>
                    <div class="mt-3  ml-3 col-md-auto">
                        <b> Delivery Terms :</b> {{OrderInfo.DeliveryTermsvtxt}}
                    </div>
                </div>
            </div>

            <div class="kt-portlet__foot kt-portlet__foot--sm bg-light">
                <div class="kt-form__actions">
                    <div class="row">
                        <div class="col">
                            <a type="Submit" (click)="onSubmit('Pending')" Class="btn mr-3 btn-brand btn-sm">Submit</a>
                            <a type="Submit" (click)="onSubmit('Draft')" Class="btn mr-3  btn-brand btn-sm">Save as
                                Drafts</a>
                            <a (click)="Back()" Class="btn mr-3  btn-brand btn-sm">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>