
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid mt-4">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Content-->
            <div  style="padding-right:50px;"  class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-12">

                        <!--begin:: Widgets/Finance Summary-->
                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Personal Information
														</h3>
                                </div>
                                <div>
                                    <button  (click)="pass(this.User.Idbint)" >Edit</button>
                                </div>
                            </div>

                            <div  style="padding-right:50px;"  class="kt-portlet__body">
                                <div class="kt-widget12">
                                    <div class="kt-widget12__content">
                                        <div class="kt-widget12__item">
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">UserCode</span>
                                                <span class="kt-widget12__value">{{this.User.UserCodetxt}}</span>
                                            </div>
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">UserName</span>
                                                <span class="kt-widget12__value">{{this.User.UserNametxt}}</span>
                                            </div>
                                        </div>
                                        <div class="kt-widget12__item">
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">User Type</span>
                                                <span class="kt-widget12__value">{{this.User.UserTypetxt}}</span>
                                            </div>
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">Division</span>
                                                <span class="kt-widget12__value">{{this.User.Divisionvtxt}}</span>
                                            </div>
                                        </div>
                                        <div class="kt-widget12__item">
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">Mobile No</span>
                                                <span class="kt-widget12__value">{{this.User.Mobilevtxt}}</span>
                                            </div>
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">Email</span>
                                                <span class="kt-widget12__value">{{this.User.Emailvtxt}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--end:: Widgets/Finance Summary-->
                    </div>
                </div>
            </div>

            <!--End:: App Content-->
        </div>

        <!--End::App-->
    </div>
