

       <div *ngFor="let User of Users" class="customerusers-list border shadow-sm p-3 mb-3">
        <!-- <div class="row mb3">
            <div class="col">
                <h5>{{customeruser.name}}</h5>
            </div>
            <div class="col-auto">
                <button [routerLink]="'add'" mat-icon-button color="primary" matTooltip="Edit user" mat-mini-fab>
                    <mat-icon>create</mat-icon>
                </button>&nbsp;
                <button mat-icon-button color="warn" matTooltip="Delete user" type="button" mat-mini-fab>
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div> -->
        
        <div class="row">
            <div class="row col-md-11">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <small>User Code:</small> <span class="kt-font-bold">{{User.UserCodetxt}}</span>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <small>UserName:</small> <span class="kt-font-bold">{{User.UserNametxt}}</span>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <small>UserType:</small> <span class="kt-font-bold">{{User.UserTypetxt}}</span>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <small>Division:</small> <span class="kt-font-bold">{{User.Divisionvtxt}}</span>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <small>Mpbile:</small> <span class="kt-font-bold">{{User.Mobilevtxt}}</span>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <small>Email:</small> <span class="kt-font-bold">{{User.Emailvtxt}}</span>
                </div>
            </div>
            <div class="row col-md-1">
               <button  (click)="pass(this.User.Idbint)" >Edit</button>
            </div>
        </div>
    </div>


