<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet">
        <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--break-sm bg-light">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Create Roles
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Role Name</label>
                <div class="col-lg-10">
                    <input name="ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder2$txtRoleName" type="text" id="ContentPlaceHolder1_ContentPlaceHolder2_txtRoleName" class="form-control" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Select Menu</label>
                <div class="col-lg-10 ">
                    <div class="kt-checkbox-list">
                        <label class="kt-checkbox">
                            <input type="checkbox">
                            View Credit Details
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox">
                            Place Order Request
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox">
                            View Pending Order Request
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox">
                            Post Order Request
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox">
                            View Dispatch Details
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox">
                            Make Payment
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox">
                            View Invoices Details
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox">
                            View Customer Ledger
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox">
                            View Leads
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox">
                            View Retail Orders
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox">
                            View Stock
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox">
                            Raise Complaints
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox">
                            Reports
                            <span></span>
                        </label>
                    </div>

                </div>
            </div>
            <div class="form-group form-group-last row">
                <label class="col-lg-2 col-form-label">Role Description</label>
                <div class="col-lg-10">
                    <textarea name="ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder2$txtRoleDesc" rows="2" cols="20" id="ContentPlaceHolder1_ContentPlaceHolder2_txtRoleDesc" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot kt-portlet__foot--sm bg-light">
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-10">
                        <button type="reset" class="btn btn-brand btn-sm">Submit</button>
                        <button type="reset" class="btn btn-secondary btn-sm">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>