
    <div class="col-md-6 m-4 bg-light row">
        <label class="kt-font-boldest">Credit Limit : </label>
       
            {{ this.CreditLimit}}
        
    </div>
    <div class="col-md-6 m-4 bg-light row">
        <label class="kt-font-boldest"> Available Credit Limit : </label>
   
        {{ this.AvailableCreditLimit}}
   
    </div>
    <div class="col-md-6 m-4 bg-light row">
        <label class="kt-font-boldest"> Out Standing : </label>
   
        {{ this.OutStanding}}
   
    </div>
   