<app-customer-float-data></app-customer-float-data>
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">


  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid  m-4">

    <div class="kt-portlet kt-portlet--mobile">
      <div class="kt-portlet__head kt-portlet__head--lg bg-light">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title text-dark">
            OutStanding
          </h3>
        </div>

      </div>
     
      <div class="kt-portlet__body ">

          <div *ngFor="let Data of DetailData" class="customerCustomers-list row border shadow-sm p-3 mb-3">
            <div class="row col-md-11">
              <div class="row col-md-12">
               
                <div class="col-md-2 ">
                  3 Days : ₹ {{Data.D3dcl | number}} 

                </div>
                <div class="col-md-2 ">
                  7 Days : ₹ {{Data.D7dcl | number}} 

                </div>
                <div class="col-md-2 ">
                  15 Days : ₹ {{Data.D15dcl | number}} 

                </div>
                <div class="col-md-2 ">
                  30 Days : ₹ {{Data.D30dcl | number}} 

                </div>
                <div class="col-md-2 ">
                  45 Days : ₹ {{Data.D45dcl | number}} 

                </div>
                <div class="col-md-2 ">
                  60 Days : ₹ {{Data.D60dcl  | number}} 

                </div>
              </div>

              <div class="row col-md-12">
                <div class="col-md-2 ">
                  90 Days : ₹ {{Data.D90dcl | number}} 

                </div>
                <div class="col-md-2 ">
                  120 Days : ₹ {{Data.D120dcl | number}} 

                </div>
                <div class="col-md-2 ">
                  150 Days : ₹ {{Data.D150dcl | number}} 

                </div>
                <div class="col-md-2 ">
                  180 Days : ₹ {{Data.D180dcl | number}} 

                </div>
                <div class="col-md-2 ">
                  360 Days : ₹ {{Data.D360dcl | number}} 

                </div>
                
                <div class="col-md-2 ">
                 > 360 Days : ₹ {{Data.gD360dcl | number}} 
                </div>
              </div>
            
              <div class="col-md-12 row mt-3 ">
                <div class="col-md-4 ">
                  Advanced : ₹ {{Data.Advancedcl | number}} 
                </div>
                <div class="col-md-4 ">
                  Gross OutStanding Amount : ₹ {{Data.GrossOutsatndingAmtdcl | number}} 
                </div>
                <div class="col-md-4 ">
                  Net OutStanding Amount : ₹ {{Data.NetOutstandingAmtdcl | number}} 
                </div>
              </div>
            </div>
          </div>
          <h2 *ngIf="this.DetailData[0]==null">No Data Available</h2>
        


        <!--end: Datatable -->
      </div>
    </div>
  </div>

</div>