<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <div
      class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper pl-0"
      id="kt_wrapper"
    >
      <app-homenav></app-homenav>

      <div
        class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
        id="kt_content"
      >
        <!-- begin:: Content -->
        <div
          class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid mt-4"
        >
          <div
            class="kt-wizard-v4"
            id="kt_user_add_user"
            data-ktwizard-state="step-first"
          >
            <!--begin: Form Wizard Nav -->

            <!--end: Form Wizard Nav -->
            <div class="kt-portlet">
              <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid">
                  <div
                    class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper"
                  >
                    <form [formGroup]="userAdd" (ngSubmit)="onSubmit()">
                      <!--begin: Form Wizard Form-->
                      <div class="kt-form" id="kt_user_add_form">
                        <!--begin: Form Wizard Step 1-->
                        <div
                          class="kt-wizard-v4__content"
                          data-ktwizard-type="step-content"
                          data-ktwizard-state="current"
                        >
                          <div class="kt-heading kt-heading--md">
                            User's Profile Details:
                          </div>
                          <div class="kt-section kt-section--first">
                            <div class="kt-wizard-v4__form">
                              <div class="row">
                                <div class="col-xl-12">
                                  <div class="kt-section__body">
                                    <!-- <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Photo</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <div class="kt-avatar kt-avatar--outline" id="kt_user_add_avatar">
                                                                    <div class="kt-avatar__holder" style="background-image: url(../../assets/media/users/100_13.jpg)"></div>
                                                                    <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="Change avatar">
                                                                        <i class="fa fa-pen"></i>
                                                                        <input type="file" name="kt_user_add_user_avatar">
                                                                    </label>
                                                                    <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="Cancel avatar">
                                                                        <i class="fa fa-times"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                    <div class="form-group row">
                                      <label
                                        class="col-xl-3 col-lg-3 col-form-label"
                                        >UserCode</label
                                      >
                                      <div class="col-lg-9 col-xl-9">
                                        <input
                                          class="form-control"
                                          type="text" formControlName="UserCodetxt"
                                          placeholder="UserCode" required
                                        />
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label
                                        class="col-xl-3 col-lg-3 col-form-label"
                                        >UserName</label
                                      >
                                      <div class="col-lg-9 col-xl-9">
                                        <input
                                          class="form-control"
                                          type="text"
                                          placeholder="UserName"
                                          formControlName="UserNametxt" required
                                        />
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label
                                        class="col-xl-3 col-lg-3 col-form-label"
                                        >Division</label
                                      >
                                      <div class="col-lg-9 col-xl-9">
                                        <div class="input-group">
                                          <input
                                            type="text"
                                            class="form-control"
                                            formControlName="Divisionvtxt"
                                            placeholder="Division"
                                            aria-describedby="basic-addon1" required
                                          />
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                        <label
                                          class="col-xl-3 col-lg-3 col-form-label"
                                          >Mobile</label
                                        >
                                        <div class="col-lg-9 col-xl-9">
                                          <div class="input-group">
                                            <input
                                              type="text"
                                              class="form-control"
                                              formControlName="Mobilevtxt"
                                              placeholder="Mobile"
                                              aria-describedby="basic-addon1" required
                                            />
                                          </div>
                                        </div>
                                      </div>
                                    <div class="form-group row">
                                      <label
                                        class="col-xl-3 col-lg-3 col-form-label"
                                        >Email Address</label
                                      >
                                      <div class="col-lg-9 col-xl-9">
                                        <div class="input-group">
                                          <input
                                            type="email"
                                            class="form-control"
                                            formControlName="Emailvtxt"
                                            placeholder="Email"
                                            aria-describedby="basic-addon1" required
                                          />
                                        </div>
                                      </div>
                                    </div>
                                   
                                    <div class="form-group row">
                                        <label
                                          class="col-xl-3 col-lg-3 col-form-label"
                                          >Password</label
                                        >
                                        <div class="col-lg-9 col-xl-9">
                                          <div class="input-group">
                                            <input
                                              type="text"
                                              class="form-control"
                                              formControlName="Passwordvtxt"
                                              placeholder="Password"
                                              aria-describedby="basic-addon1" required
                                            />
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                        <label
                                          class="col-xl-3 col-lg-3 col-form-label"
                                          >Confirm Password</label
                                        >
                                        <div class="col-lg-9 col-xl-9">
                                          <div class="input-group">
                                            <input
                                              type="text"
                                              class="form-control"
                                              formControlName="CPasswordvtxt"
                                              placeholder="Confirm Password"
                                              aria-describedby="basic-addon1" required
                                            />
                                          </div>
                                          
                                        </div>
                                      </div>
                                      <span *ngIf="userAdd.errors?.invalid">
                                        Password doesn't match
                                    </span>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!--end: Form Wizard Step 1-->
                        <!--begin: Form Actions -->
                        <div class="kt-form__actions">
                          <div
                            class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                            data-ktwizard-type="action-submit"
                          >
                          <button type="submit" [disabled]="this.userAdd.invalid" > Submit</button>
                           
                          </div>
                        </div>

                        <!--end: Form Actions -->
                      </div>
                    </form>
                    <!--end: Form Wizard Form-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- end:: Content -->
      </div>

      <!-- begin:: Footer -->
      <div
        class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop"
        id="kt_footer"
        style="left: 0;"
      >
        <div class="kt-container kt-container--fluid">
          <div class="kt-footer__copyright">
            2019&nbsp;&copy;&nbsp;<a class="kt-link">Prism Johnson Limited</a>
          </div>
          <div class="kt-footer__menu"></div>
        </div>
      </div>

      <!-- end:: Footer -->
    </div>
  </div>
</div>
