<div class="kt-grid kt-grid--ver kt-grid--root kt-page" style="min-height: 100vh;">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v6 kt-login--signin" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
            <div class="kt-grid__item  kt-grid__item--order-tablet-and-mobile-2  kt-grid kt-grid--hor kt-login__aside">
                <div class="kt-login__wrapper">
                    <div class="kt-login__container">
                        <div class="kt-login__body">
                            <div class="kt-login__logo">
                                <img src="assets/media/app_images/johnson-logo.png" class="img-fluid" />
                            </div>
                            <div class="kt-login__signin">
                                <div class="kt-login__head">
                                    <h3 class="kt-login__title">Sign In</h3>
                                </div>
                                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
                                    <div class="kt-login__form">
                                        <div class="kt-form">
                                            <div class="form-group">
                                                <input class="form-control" formControlName="UserCodetxt" placeholder="Email" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" formControlName="Passwordvtxt" class="form-control" placeholder="Password" required>
                                            </div>

                                            <div class="kt-login__extra">
                                                <!-- <label class="kt-checkbox">
                                                    <input type="checkbox" name="remember" />
                                                    Remember me
                                                    <span></span>
                                                </label> -->
                                                <a [routerLink]="['/forgotpassword.component']">Forget Password ?</a>
                                            </div>
                                            <div class="kt-login__actions">
                                                <button type="submit" class="btn btn-brand btn-pill btn-elevate" [disabled]="this.loginForm.invalid">Login</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-grid__item--center kt-grid kt-grid--ver kt-login__content" style="background-image: url(assets/media/app_images/login-bg.jpg);">

            </div>
        </div>
    </div>
</div>