
<div class="kt-grid kt-grid--hor kt-grid--root ">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
  
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper  pl-0" id="kt_wrapper">
  
    <app-navigation-bar></app-navigation-bar>
  
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    





       <div *ngFor="let Customer of Customers" class="customerCustomers-list border shadow-sm p-3 mb-3">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Company Code:</small> <span class="kt-font-bold">{{Customer.CompanyCodevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Company Name:</small> <span class="kt-font-bold">{{Customer.CompanyNamevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Customer Code:</small> <span class="kt-font-bold">{{Customer.CustCodevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Customer Name:</small> <span class="kt-font-bold">{{Customer.CustNamevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Customer Type:</small> <span class="kt-font-bold">{{Customer.Typevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Addres:</small> <span class="kt-font-bold">{{Customer.Address1vtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>City:</small> <span class="kt-font-bold">{{Customer.CityCdvtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Postal Code:</small> <span class="kt-font-bold">{{Customer.PostalCodevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Mobile No:</small> <span class="kt-font-bold">{{Customer.TelNumber1vtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>GST No:</small> <span class="kt-font-bold">{{Customer.Gstnovtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Pan No:</small> <span class="kt-font-bold">{{Customer.PanNovtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Sales Office Destrict:</small> <span class="kt-font-bold">{{Customer.SalesOfficeDescvtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Sales Promoter Code:</small> <span class="kt-font-bold">{{Customer.Spcodevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Sales Promoter Name:</small> <span class="kt-font-bold">{{Customer.Spnamevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>CF Code:</small> <span class="kt-font-bold">{{Customer.Cfacodevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>CF Name:</small> <span class="kt-font-bold">{{Customer.Cfanamevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Order Block:</small> <span class="kt-font-bold">{{Customer.OrderBlockvtxt}}</span>
            </div>
           
        </div>
    </div>


<!-- begin:: Footer -->
<div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer" style="left: 0;">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-footer__copyright">
            2019&nbsp;&copy;&nbsp;<a class="kt-link">Prism Johnson Limited</a>
        </div>
        <div class="kt-footer__menu">
        </div>
    </div>
</div>

<!-- end:: Footer -->
</div>
</div>
</div>

