

<div>    
    Customers(Total:{{totalCustomersCount}})    
  </div>    
  
       <div *ngFor="let Customer of Customers" class="customerCustomers-list border shadow-sm p-3 mb-3">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Company Code:</small> <span class="kt-font-bold">{{Customer.CompanyCodevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Company Name:</small> <span class="kt-font-bold">{{Customer.CompanyNamevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Customer Code:</small> <span class="kt-font-bold">{{Customer.CustCodevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Customer Name:</small> <span class="kt-font-bold">{{Customer.CustNamevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Customer Type:</small> <span class="kt-font-bold">{{Customer.Typevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Addres:</small> <span class="kt-font-bold">{{Customer.Address1vtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>City:</small> <span class="kt-font-bold">{{Customer.CityCdvtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Postal Code:</small> <span class="kt-font-bold">{{Customer.PostalCodevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Mobile No:</small> <span class="kt-font-bold">{{Customer.TelNumber1vtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>GST No:</small> <span class="kt-font-bold">{{Customer.Gstnovtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Pan No:</small> <span class="kt-font-bold">{{Customer.PanNovtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Sales Office Destrict:</small> <span class="kt-font-bold">{{Customer.SalesOfficeDescvtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Sales Promoter Code:</small> <span class="kt-font-bold">{{Customer.Spcodevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Sales Promoter Name:</small> <span class="kt-font-bold">{{Customer.Spnamevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>CF Code:</small> <span class="kt-font-bold">{{Customer.Cfacodevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>CF Name:</small> <span class="kt-font-bold">{{Customer.Cfanamevtxt}}</span>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <small>Order Block:</small> <span class="kt-font-bold">{{Customer.OrderBlockvtxt}}</span>
            </div>
           
        </div>
    </div>

   
    <div class="container mw-100">    
        <div class="row">    
          <div class="col-md-3"> </div>    
          <div *ngIf="Customers !=0" class="col-md-6">    
            <ul class="pagination justify-content-center">    
              <li *ngIf="totalCustomersCount > this.CustomersPerPage" class="page-item">    
                <a (click)="showPrevCustomers()"    
                  [ngClass]="(paginationService.showNoOfCurrentPage ==1)?'notAllowed':'page-link'"    
                  style="margin-top: 5px; margin-right: 20px;cursor: pointer;">Prev</a></li>    
              <li *ngFor="let page of pageField;let i=index" class="page-item">    
                <a (click)="showCustomersByPageNumber(page,i)" [ngClass]="pageNumber[i] ? 'pageColor':'page-link'"    
                  style=" margin-right: 5px;;margin-top: 5px;cursor: pointer;">{{page}}</a>    
                     
              </li>    
              <li *ngIf="totalCustomersCount > this.CustomersPerPage" class="page-item"><a (click)="showNextCustomers()"    
                  [ngClass]="(paginationService.disabledNextBtn)?'notAllowed':'page-link'"    
                  style="margin-top: 5px;margin-left: 20px; cursor: pointer;">Next</a> </li>    
            </ul>    
            <div style="text-align: center;">    
              Page {{currentPage}} of Total page {{paginationService.exactPageList}}    
            </div>    
          </div>    
        </div>    
      </div>    
   

